# Full ETL pipeline

Here we'll write a full ETL pipeline for the GDP data. That means we'll extract the World Bank data, transform the data, and load the data all in one go. In other words, we'll want one Python script that can do the entire process.

Why would we want to do this? Imagine working for a company that creates new data every day. As new data comes in, we'll want to write software that periodically and automatically extracts, transforms, and loads the data.

To have a sense for what this is like, we'll extract the GDP data one line at a time. We'll then transform that line of data and load the results into a SQLite database. The code in this exercise is somewhat tricky.

Here is an explanation of how this Jupyter notebook is organized:
1. The first cell connects to a SQLite database called worldbank.db and creates a table to hold the gdp data.
2. The second cell has a function called extract_line(). This function is a [Python generator](https://wiki.python.org/moin/Generators). Essentially, a generator is like a regular function except instead of a return statement, a generator has a yield statement. Generators allow us to use functions in a for loop. In essence, this function will allow us to read in a data file one line at a time, run a transformation on that row of data, and then move on to the next row in the file.
3. The third cell contains a function called transform_indicator_data(). This function receives a line from the csv file and transforms the data in preparation for a load step.
4. The fourth cell contains a function called load_indicator_data(), which loads the trasnformed data into the gdp table in the worldbank.db database.
5. The fifth cell runs the ETL pipeilne
6. The sixth cell runs a query against the database to make sure everything worked correctly.

In [1]:
# run this cell to create a database and a table, called gdp, to hold the gdp data
import sqlite3

# connect to the database
# the database file will be worldbank.db
# note that sqlite3 will create this database file if it does not exist already
conn = sqlite3.connect('worldbank.db')

# get a cursor
cur = conn.cursor()

# drop the test table in case it already exists
cur.execute("DROP TABLE IF EXISTS gdp")

# create the test table including project_id as a primary key
cur.execute("CREATE TABLE gdp (countryname TEXT, countrycode TEXT, year INTEGER, gdp REAL, PRIMARY KEY (countrycode, year));")

conn.commit()
conn.close()

In [2]:
# Generator for reading in one line at a time
# generators are useful for data sets that are too large to fit in RAM
def extract_lines(file):
    while True:
        line = file.readline()
        if not line:
            break
        yield line

In [6]:
# Write transform_indicator_data() function for transforming the raw data into clean data
# This function has two inputs:
#   data, which is a row of data from the gdp csv file
#   colnames, which is a list of column names from the csv file
# The output should be a list of [countryname, countrycode, year, gdp] values
# In other words, the output would look like:
# [[Aruba, ABW, 1994, 1.330168e+09], [Aruba, ABW, 1995, 1.320670e+09], ...]
#

import pandas as pd
import numpy as np
import sqlite3

# transform the indicator data
def transform_indicator_data(data, colnames):
    
    # get rid of quote marks
    for i, datum in enumerate(data):
        data[i] = datum.replace('"','')
    
    # the data variable contains a list of data in the form [countryname, countrycode, 1960, 1961, 1962,...]
    # since this is the format of the data in the csv file. Extract the countryname from the list 
    # and put the result in the country variable
    country = data[0]
    
    # these are "countryname" values that are not actually countries
    non_countries = ['World',
     'High income',
     'OECD members',
     'Post-demographic dividend',
     'IDA & IBRD total',
     'Low & middle income',
     'Middle income',
     'IBRD only',
     'East Asia & Pacific',
     'Europe & Central Asia',
     'North America',
     'Upper middle income',
     'Late-demographic dividend',
     'European Union',
     'East Asia & Pacific (excluding high income)',
     'East Asia & Pacific (IDA & IBRD countries)',
     'Euro area',
     'Early-demographic dividend',
     'Lower middle income',
     'Latin America & Caribbean',
     'Latin America & the Caribbean (IDA & IBRD countries)',
     'Latin America & Caribbean (excluding high income)',
     'Europe & Central Asia (IDA & IBRD countries)',
     'Middle East & North Africa',
     'Europe & Central Asia (excluding high income)',
     'South Asia (IDA & IBRD)',
     'South Asia',
     'Arab World',
     'IDA total',
     'Sub-Saharan Africa',
     'Sub-Saharan Africa (IDA & IBRD countries)',
     'Sub-Saharan Africa (excluding high income)',
     'Middle East & North Africa (excluding high income)',
     'Middle East & North Africa (IDA & IBRD countries)',
     'Central Europe and the Baltics',
     'Pre-demographic dividend',
     'IDA only',
     'Least developed countries: UN classification',
     'IDA blend',
     'Fragile and conflict affected situations',
     'Heavily indebted poor countries (HIPC)',
     'Low income',
     'Small states',
     'Other small states',
     'Not classified',
     'Caribbean small states',
     'Pacific island small states']
    
    # filter out country name values that are in the above list
    if country not in non_countries:
        
        # In this section, we'll convert the single row of data into a data frame
        # The advantage of converting a single row of data into a data frame is that you can
        # re-use code from the module of extract and transform to clean the data
        
        # convert the data variable into a numpy array
        # Use the ndmin=2 option
        data_array = np.array(data, ndmin=2)
        
        # reshape the data_array so that it is one row and 63 columns
        data_array.reshape(1, 63)
        
        # convert the data_array variable into a pandas dataframe
        # we can specify the column names as well using the colnames variable
        # Replace all empty strings in the dataframe with nan
        df = pd.DataFrame(data_array, columns=colnames).replace('', np.nan)
        
        # TODO: Drop the 'Indicator Name' and 'Indicator Code' columns
        df.drop(['Indicator Name', 'Indicator Code'], inplace=True, axis=1)

        # Reshape the data sets so that they are in long format
        # The id_vars should be Country Name and Country Code
        # We can name the variable column year and the value column gdp
        df_melt = df.melt(id_vars=['Country Name', 'Country Code'], 
                            var_name='year', 
                            value_name='gdp')
        
        # Iterate through the rows in df_melt
        # For each row, extract the country, countrycode, year, and gdp values into a list like this:
        #     [country, countrycode, year, gdp]
        # If the gdp value is not null, append the row (in the form of a list) to the results variable
        # Finally, return the results list after iterating through the df_melt data
        results = []
        for index, row in df_melt.iterrows():
            country, countrycode, year, gdp = row
            if str(gdp) != 'nan':
                results.append([country, countrycode, year, gdp])
        return results

In [4]:
# Write load_indicator_data() function for loading gdp data into indicator table.
# This function loads data into the gdp table of the worldbank.db database
# The input is a list of data outputted from the transformation step that looks like this:
# [[Aruba, ABW, 1994, 1.330168e+09], [Aruba, ABW, 1995, 1.320670e+09], ...]

# The function does not return anything. Instead, the function iterates through the input and inserts each
# value into the gdp data set.

def load_indicator_data(results):
    
    # connect to the worldbank.db database using the sqlite3 library
    conn = sqlite3.connect('worldbank.db')
    
    # create a cursor object
    cur = conn.cursor()
    
    if results:
        
        # iterate through the results variable and insert each result into the gdp table
        for result in results:
            
            # extract the countryname, countrycode, year, and gdp from each iteration
            countryname, countrycode, year, gdp = result

            # prepare a query to insert a countryname, countrycode, year, gdp value
            sql_string = 'INSERT INTO gdp (countryname, countrycode, year, gdp) VALUES ("{}", "{}", {}, {});'.format(countryname, countrycode, year, gdp)

            # connect to database and execute query
            try:
                cur.execute(sql_string)
            # print out any errors (like if the primary key constraint is violated)
            except Exception as e:
                print('error occurred:', e, result)
    
    # commit changes and close the connection
    conn.commit()
    conn.close()
    
    return None

In [7]:
# Execute this code cell to run the ETL pipeline

# open the data file
with open('transform/data/gdp_data.csv') as f:
    # execute the generator to read in the file line by line
    for line in extract_lines(f):
        # split the comma separated values
        data = line.split(',')
        # check the length of the line because the first four lines of the csv file are not data
        if len(data) == 63:
            # check if the line represents column names
            if data[0] == '"Country Name"':
                colnames = []
                # get rid of quote marks in the results to make the data easier to work with
                for i, datum in enumerate(data):
                    colnames.append(datum.replace('"',''))
            else:
                # transform and load the line of indicator data
                results = transform_indicator_data(data, colnames)
                load_indicator_data(results)

error occurred: near ",": syntax error ['Aruba', 'ABW', '\n', '\n']
error occurred: near ",": syntax error ['Afghanistan', 'AFG', '\n', '\n']
error occurred: near ",": syntax error ['Angola', 'AGO', '\n', '\n']
error occurred: near ",": syntax error ['Albania', 'ALB', '\n', '\n']
error occurred: near ",": syntax error ['Andorra', 'AND', '\n', '\n']
error occurred: near ",": syntax error ['United Arab Emirates', 'ARE', '\n', '\n']
error occurred: near ",": syntax error ['Argentina', 'ARG', '\n', '\n']
error occurred: near ",": syntax error ['Armenia', 'ARM', '\n', '\n']
error occurred: near ",": syntax error ['American Samoa', 'ASM', '\n', '\n']
error occurred: near ",": syntax error ['Antigua and Barbuda', 'ATG', '\n', '\n']
error occurred: near ",": syntax error ['Australia', 'AUS', '\n', '\n']
error occurred: near ",": syntax error ['Austria', 'AUT', '\n', '\n']
error occurred: near ",": syntax error ['Azerbaijan', 'AZE', '\n', '\n']
error occurred: near ",": syntax error ['Burundi', 'BDI', '\n', '\n']
error occurred: near ",": syntax error ['Belgium', 'BEL', '\n', '\n']
error occurred: near ",": syntax error ['Benin', 'BEN', '\n', '\n']
error occurred: near ",": syntax error ['Burkina Faso', 'BFA', '\n', '\n']
error occurred: near ",": syntax error ['Bangladesh', 'BGD', '\n', '\n']
error occurred: near ",": syntax error ['Bulgaria', 'BGR', '\n', '\n']
error occurred: near ",": syntax error ['Bahrain', 'BHR', '\n', '\n']
error occurred: near ",": syntax error ['Bosnia and Herzegovina', 'BIH', '\n', '\n']
error occurred: near ",": syntax error ['Belarus', 'BLR', '\n', '\n']
error occurred: near ",": syntax error ['Belize', 'BLZ', '\n', '\n']
error occurred: near ",": syntax error ['Bermuda', 'BMU', '\n', '\n']
error occurred: near ",": syntax error ['Bolivia', 'BOL', '\n', '\n']
error occurred: near ",": syntax error ['Brazil', 'BRA', '\n', '\n']
error occurred: near ",": syntax error ['Barbados', 'BRB', '\n', '\n']
error occurred: near ",": syntax error ['Brunei Darussalam', 'BRN', '\n', '\n']
error occurred: near ",": syntax error ['Bhutan', 'BTN', '\n', '\n']
error occurred: near ",": syntax error ['Botswana', 'BWA', '\n', '\n']
error occurred: near ",": syntax error ['Central African Republic', 'CAF', '\n', '\n']
error occurred: near ",": syntax error ['Canada', 'CAN', '\n', '\n']
error occurred: near ",": syntax error ['Switzerland', 'CHE', '\n', '\n']
error occurred: near ",": syntax error ['Channel Islands', 'CHI', '\n', '\n']
error occurred: near ",": syntax error ['Chile', 'CHL', '\n', '\n']
error occurred: near ",": syntax error ['China', 'CHN', '\n', '\n']
error occurred: near ",": syntax error ["Cote d'Ivoire", 'CIV', '\n', '\n']
error occurred: near ",": syntax error ['Cameroon', 'CMR', '\n', '\n']
error occurred: near ",": syntax error ['Colombia', 'COL', '\n', '\n']
error occurred: near ",": syntax error ['Comoros', 'COM', '\n', '\n']
error occurred: near ",": syntax error ['Cabo Verde', 'CPV', '\n', '\n']
error occurred: near ",": syntax error ['Costa Rica', 'CRI', '\n', '\n']
error occurred: near ",": syntax error ['Cuba', 'CUB', '\n', '\n']
error occurred: near ",": syntax error ['Curacao', 'CUW', '\n', '\n']
error occurred: near ",": syntax error ['Cayman Islands', 'CYM', '\n', '\n']
error occurred: near ",": syntax error ['Cyprus', 'CYP', '\n', '\n']
error occurred: near ",": syntax error ['Czech Republic', 'CZE', '\n', '\n']
error occurred: near ",": syntax error ['Germany', 'DEU', '\n', '\n']
error occurred: near ",": syntax error ['Djibouti', 'DJI', '\n', '\n']
error occurred: near ",": syntax error ['Dominica', 'DMA', '\n', '\n']
error occurred: near ",": syntax error ['Denmark', 'DNK', '\n', '\n']
error occurred: near ",": syntax error ['Dominican Republic', 'DOM', '\n', '\n']
error occurred: near ",": syntax error ['Algeria', 'DZA', '\n', '\n']
error occurred: near ",": syntax error ['Ecuador', 'ECU', '\n', '\n']
error occurred: near ",": syntax error ['Eritrea', 'ERI', '\n', '\n']
error occurred: near ",": syntax error ['Spain', 'ESP', '\n', '\n']
error occurred: near ",": syntax error ['Estonia', 'EST', '\n', '\n']
error occurred: near ",": syntax error ['Ethiopia', 'ETH', '\n', '\n']
error occurred: near ",": syntax error ['Finland', 'FIN', '\n', '\n']
error occurred: near ",": syntax error ['Fiji', 'FJI', '\n', '\n']
error occurred: near ",": syntax error ['France', 'FRA', '\n', '\n']
error occurred: near ",": syntax error ['Faroe Islands', 'FRO', '\n', '\n']
error occurred: near ",": syntax error ['Gabon', 'GAB', '\n', '\n']
error occurred: near ",": syntax error ['United Kingdom', 'GBR', '\n', '\n']
error occurred: near ",": syntax error ['Georgia', 'GEO', '\n', '\n']
error occurred: near ",": syntax error ['Ghana', 'GHA', '\n', '\n']
error occurred: near ",": syntax error ['Gibraltar', 'GIB', '\n', '\n']
error occurred: near ",": syntax error ['Guinea', 'GIN', '\n', '\n']
error occurred: near ",": syntax error ['Guinea-Bissau', 'GNB', '\n', '\n']
error occurred: near ",": syntax error ['Equatorial Guinea', 'GNQ', '\n', '\n']
error occurred: near ",": syntax error ['Greece', 'GRC', '\n', '\n']
error occurred: near ",": syntax error ['Grenada', 'GRD', '\n', '\n']
error occurred: near ",": syntax error ['Greenland', 'GRL', '\n', '\n']
error occurred: near ",": syntax error ['Guatemala', 'GTM', '\n', '\n']
error occurred: near ",": syntax error ['Guam', 'GUM', '\n', '\n']
error occurred: near ",": syntax error ['Guyana', 'GUY', '\n', '\n']
error occurred: near ",": syntax error ['Honduras', 'HND', '\n', '\n']
error occurred: near ",": syntax error ['Croatia', 'HRV', '\n', '\n']
error occurred: near ",": syntax error ['Haiti', 'HTI', '\n', '\n']
error occurred: near ",": syntax error ['Hungary', 'HUN', '\n', '\n']
error occurred: near ",": syntax error ['Indonesia', 'IDN', '\n', '\n']
error occurred: near ",": syntax error ['Isle of Man', 'IMN', '\n', '\n']
error occurred: near ",": syntax error ['India', 'IND', '\n', '\n']
error occurred: near ",": syntax error ['Ireland', 'IRL', '\n', '\n']
error occurred: near ",": syntax error ['Iraq', 'IRQ', '\n', '\n']
error occurred: near ",": syntax error ['Iceland', 'ISL', '\n', '\n']
error occurred: near ",": syntax error ['Israel', 'ISR', '\n', '\n']
error occurred: near ",": syntax error ['Italy', 'ITA', '\n', '\n']
error occurred: near ",": syntax error ['Jamaica', 'JAM', '\n', '\n']
error occurred: near ",": syntax error ['Jordan', 'JOR', '\n', '\n']
error occurred: near ",": syntax error ['Japan', 'JPN', '\n', '\n']
error occurred: near ",": syntax error ['Kazakhstan', 'KAZ', '\n', '\n']
error occurred: near ",": syntax error ['Kenya', 'KEN', '\n', '\n']
error occurred: near ",": syntax error ['Kyrgyz Republic', 'KGZ', '\n', '\n']
error occurred: near ",": syntax error ['Cambodia', 'KHM', '\n', '\n']
error occurred: near ",": syntax error ['Kiribati', 'KIR', '\n', '\n']
error occurred: near ",": syntax error ['St. Kitts and Nevis', 'KNA', '\n', '\n']
error occurred: near ",": syntax error ['Kuwait', 'KWT', '\n', '\n']
error occurred: near ",": syntax error ['Lao PDR', 'LAO', '\n', '\n']
error occurred: near ",": syntax error ['Lebanon', 'LBN', '\n', '\n']
error occurred: near ",": syntax error ['Liberia', 'LBR', '\n', '\n']
error occurred: near ",": syntax error ['Libya', 'LBY', '\n', '\n']
error occurred: near ",": syntax error ['St. Lucia', 'LCA', '\n', '\n']
error occurred: near ",": syntax error ['Liechtenstein', 'LIE', '\n', '\n']
error occurred: near ",": syntax error ['Sri Lanka', 'LKA', '\n', '\n']
error occurred: near ",": syntax error ['Lesotho', 'LSO', '\n', '\n']
error occurred: near ",": syntax error ['Lithuania', 'LTU', '\n', '\n']
error occurred: near ",": syntax error ['Luxembourg', 'LUX', '\n', '\n']
error occurred: near ",": syntax error ['Latvia', 'LVA', '\n', '\n']
error occurred: near ",": syntax error ['St. Martin (French part)', 'MAF', '\n', '\n']
error occurred: near ",": syntax error ['Morocco', 'MAR', '\n', '\n']
error occurred: near ",": syntax error ['Monaco', 'MCO', '\n', '\n']
error occurred: near ",": syntax error ['Moldova', 'MDA', '\n', '\n']
error occurred: near ",": syntax error ['Madagascar', 'MDG', '\n', '\n']
error occurred: near ",": syntax error ['Maldives', 'MDV', '\n', '\n']
error occurred: near ",": syntax error ['Mexico', 'MEX', '\n', '\n']
error occurred: near ",": syntax error ['Marshall Islands', 'MHL', '\n', '\n']
error occurred: near ",": syntax error ['Mali', 'MLI', '\n', '\n']
error occurred: near ",": syntax error ['Malta', 'MLT', '\n', '\n']
error occurred: near ",": syntax error ['Myanmar', 'MMR', '\n', '\n']
error occurred: near ",": syntax error ['Montenegro', 'MNE', '\n', '\n']
error occurred: near ",": syntax error ['Mongolia', 'MNG', '\n', '\n']
error occurred: near ",": syntax error ['Northern Mariana Islands', 'MNP', '\n', '\n']
error occurred: near ",": syntax error ['Mozambique', 'MOZ', '\n', '\n']
error occurred: near ",": syntax error ['Mauritania', 'MRT', '\n', '\n']
error occurred: near ",": syntax error ['Mauritius', 'MUS', '\n', '\n']
error occurred: near ",": syntax error ['Malawi', 'MWI', '\n', '\n']
error occurred: near ",": syntax error ['Malaysia', 'MYS', '\n', '\n']
error occurred: near ",": syntax error ['Namibia', 'NAM', '\n', '\n']
error occurred: near ",": syntax error ['New Caledonia', 'NCL', '\n', '\n']
error occurred: near ",": syntax error ['Niger', 'NER', '\n', '\n']
error occurred: near ",": syntax error ['Nigeria', 'NGA', '\n', '\n']
error occurred: near ",": syntax error ['Nicaragua', 'NIC', '\n', '\n']
error occurred: near ",": syntax error ['Netherlands', 'NLD', '\n', '\n']
error occurred: near ",": syntax error ['Norway', 'NOR', '\n', '\n']
error occurred: near ",": syntax error ['Nepal', 'NPL', '\n', '\n']
error occurred: near ",": syntax error ['Nauru', 'NRU', '\n', '\n']
error occurred: near ",": syntax error ['New Zealand', 'NZL', '\n', '\n']
error occurred: near ",": syntax error ['Oman', 'OMN', '\n', '\n']
error occurred: near ",": syntax error ['Pakistan', 'PAK', '\n', '\n']
error occurred: near ",": syntax error ['Panama', 'PAN', '\n', '\n']
error occurred: near ",": syntax error ['Peru', 'PER', '\n', '\n']
error occurred: near ",": syntax error ['Philippines', 'PHL', '\n', '\n']
error occurred: near ",": syntax error ['Palau', 'PLW', '\n', '\n']
error occurred: near ",": syntax error ['Papua New Guinea', 'PNG', '\n', '\n']
error occurred: near ",": syntax error ['Poland', 'POL', '\n', '\n']
error occurred: near ",": syntax error ['Puerto Rico', 'PRI', '\n', '\n']
error occurred: near ",": syntax error ['Portugal', 'PRT', '\n', '\n']
error occurred: near ",": syntax error ['Paraguay', 'PRY', '\n', '\n']
error occurred: near ",": syntax error ['West Bank and Gaza', 'PSE', '\n', '\n']
error occurred: near ",": syntax error ['French Polynesia', 'PYF', '\n', '\n']
error occurred: near ",": syntax error ['Qatar', 'QAT', '\n', '\n']
error occurred: near ",": syntax error ['Romania', 'ROU', '\n', '\n']
error occurred: near ",": syntax error ['Russian Federation', 'RUS', '\n', '\n']
error occurred: near ",": syntax error ['Rwanda', 'RWA', '\n', '\n']
error occurred: near ",": syntax error ['Saudi Arabia', 'SAU', '\n', '\n']
error occurred: near ",": syntax error ['Sudan', 'SDN', '\n', '\n']
error occurred: near ",": syntax error ['Senegal', 'SEN', '\n', '\n']
error occurred: near ",": syntax error ['Singapore', 'SGP', '\n', '\n']
error occurred: near ",": syntax error ['Solomon Islands', 'SLB', '\n', '\n']
error occurred: near ",": syntax error ['Sierra Leone', 'SLE', '\n', '\n']
error occurred: near ",": syntax error ['El Salvador', 'SLV', '\n', '\n']
error occurred: near ",": syntax error ['San Marino', 'SMR', '\n', '\n']
error occurred: near ",": syntax error ['Somalia', 'SOM', '\n', '\n']
error occurred: near ",": syntax error ['Serbia', 'SRB', '\n', '\n']
error occurred: near ",": syntax error ['South Sudan', 'SSD', '\n', '\n']
error occurred: near ",": syntax error ['Sao Tome and Principe', 'STP', '\n', '\n']
error occurred: near ",": syntax error ['Suriname', 'SUR', '\n', '\n']
error occurred: near ",": syntax error ['Slovak Republic', 'SVK', '\n', '\n']
error occurred: near ",": syntax error ['Slovenia', 'SVN', '\n', '\n']
error occurred: near ",": syntax error ['Sweden', 'SWE', '\n', '\n']
error occurred: near ",": syntax error ['Swaziland', 'SWZ', '\n', '\n']
error occurred: near ",": syntax error ['Sint Maarten (Dutch part)', 'SXM', '\n', '\n']
error occurred: near ",": syntax error ['Seychelles', 'SYC', '\n', '\n']
error occurred: near ",": syntax error ['Syrian Arab Republic', 'SYR', '\n', '\n']
error occurred: near ",": syntax error ['Turks and Caicos Islands', 'TCA', '\n', '\n']
error occurred: near ",": syntax error ['Chad', 'TCD', '\n', '\n']
error occurred: near ",": syntax error ['Togo', 'TGO', '\n', '\n']
error occurred: near ",": syntax error ['Thailand', 'THA', '\n', '\n']
error occurred: near ",": syntax error ['Tajikistan', 'TJK', '\n', '\n']
error occurred: near ",": syntax error ['Turkmenistan', 'TKM', '\n', '\n']
error occurred: near ",": syntax error ['Timor-Leste', 'TLS', '\n', '\n']
error occurred: near ",": syntax error ['Tonga', 'TON', '\n', '\n']
error occurred: near ",": syntax error ['Trinidad and Tobago', 'TTO', '\n', '\n']
error occurred: near ",": syntax error ['Tunisia', 'TUN', '\n', '\n']
error occurred: near ",": syntax error ['Turkey', 'TUR', '\n', '\n']
error occurred: near ",": syntax error ['Tuvalu', 'TUV', '\n', '\n']
error occurred: near ",": syntax error ['Tanzania', 'TZA', '\n', '\n']
error occurred: near ",": syntax error ['Uganda', 'UGA', '\n', '\n']
error occurred: near ",": syntax error ['Ukraine', 'UKR', '\n', '\n']
error occurred: near ",": syntax error ['Uruguay', 'URY', '\n', '\n']
error occurred: near ",": syntax error ['United States', 'USA', '\n', '\n']
error occurred: near ",": syntax error ['Uzbekistan', 'UZB', '\n', '\n']
error occurred: near ",": syntax error ['St. Vincent and the Grenadines', 'VCT', '\n', '\n']
error occurred: near ",": syntax error ['British Virgin Islands', 'VGB', '\n', '\n']
error occurred: near ",": syntax error ['Virgin Islands (U.S.)', 'VIR', '\n', '\n']
error occurred: near ",": syntax error ['Vietnam', 'VNM', '\n', '\n']
error occurred: near ",": syntax error ['Vanuatu', 'VUT', '\n', '\n']
error occurred: near ",": syntax error ['Samoa', 'WSM', '\n', '\n']
error occurred: near ",": syntax error ['Kosovo', 'XKX', '\n', '\n']
error occurred: near ",": syntax error ['South Africa', 'ZAF', '\n', '\n']
error occurred: near ",": syntax error ['Zambia', 'ZMB', '\n', '\n']
error occurred: near ",": syntax error ['Zimbabwe', 'ZWE', '\n', '\n']

In [8]:
# Execute this code cell to output the values in the gdp table

# connect to the database
# the database file will be worldbank.db
# note that sqlite3 will create this database file if it does not exist already
conn = sqlite3.connect('worldbank.db')

# get a cursor
cur = conn.cursor()

# create the test table including project_id as a primary key
df = pd.read_sql("SELECT * FROM gdp", con=conn)

conn.commit()
conn.close()

df

     countryname countrycode  year           gdp
0          Aruba         ABW  1994  1.330168e+09
1          Aruba         ABW  1995  1.320670e+09
2          Aruba         ABW  1996  1.379888e+09
3          Aruba         ABW  1997  1.531844e+09
4          Aruba         ABW  1998  1.665363e+09
...          ...         ...   ...           ...
8709    Zimbabwe         ZWE  2013  1.545177e+10
8710    Zimbabwe         ZWE  2014  1.589105e+10
8711    Zimbabwe         ZWE  2015  1.630467e+10
8712    Zimbabwe         ZWE  2016  1.661996e+10
8713    Zimbabwe         ZWE  2017  1.784582e+10

[8714 rows x 4 columns]

# Conclusion

ETL Pipelines involve extracting data from one source, which in this case was a csv file, then transforming the data into a more usable form, and finally loading the data somewhere else.

The purpose of ETL pipelines is to make data more usable and accessible.